<?xml version="1.0"?>
<config>
    <Bot>
        <Nick>Nick</Nick>
        <Channel>#channel</Channel>
        <Subreddit>Sub</Subreddit>
    </Bot>
    <NickServ>
        <Username>User</Username>
        <Password>Pass</Password>
    </NickServ>
    <Reddit>
        <Username>User</Username>
        <Password>Pass</Password>
    </Reddit>
</config>